# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Create and Deposit Jar Artefact

on:
  release:
    types: [created]
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload JAR artifact - attach to CI-Run
      uses: actions/upload-artifact@v4
      with:
        name: 'slm-tic-tac-toe-nightly.jar'
        overwrite: true
        compression-level: '0'
        retention-days: '3'
        path: target/slm-tic-tac-toe-nightly.jar