# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Public Artefact

on:
  release:
    types: [created]
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Debug output
      shell: bash
      run: |
        pwd
        ls target/
        JAR_NAME="$(ls target/*.jar)"
        echo lalal $JARNAME lalal

    #- name: Upload JAR artifact
    #  uses: actions/upload-artifact@v4
    #  with:
    #    name: ${{ env.JAR_NAME }}
    #    path: target/${{ env.JAR_NAME }}